# standard
*~
*.pyc
*.pyo
*.swo
*.swp
*.egg-info
/.cache
/.coverage
/.Python
/PYSMELLTAGS*
__pycache__
.pytest_cache
*/.pytest_cache
/htmlcov
/.vscode
/.venv
/**/pip-wheel-metadata
.mypy_cache

/env
/bin
/build
/dist
/include
/lib
/src
/var
/local
/tmp

# local
.DS_Store
pyvenv.cfg
/docs/_build
pip-selfcheck.json
/etc/*local.ini
/etc/*local.yml
.pytest_cache
.vscode
*.local.yml
*.bak
/etc/service-account.json
/.venv
/.initdb/**/*.sh
/.nova
/.env
